.main-nav {
    height: 60px;
    background: #1890FF;
    left: 0;
    top: 0;
  }
  
  .nav-logo-text {
    height: 32px;
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 15px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
  }