.search-container {
    margin: 55px 100px 73px 90px;
}
.search-content{
    background: #E6F7FF;
    border-radius: 16px;
    padding: 66px 480px 42px 94px; 
}
.search-title{
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 12px;
}
.search-text{
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    color: #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
}
.second-content {
    background: #F5F5F5;
    border-radius: 8px;
    padding: 23px 23px 27px 30px;
    height: 385px;
    margin-top: 55px;
    display: flex;   

}
.content-loaders{
    display: flex;
    justify-content: flex-start;
    margin-top: 55px;

}