.user-info {
    margin-top: 55px;
    background: #F5F5F5;
    border-radius: 8px;
    height: 355px;
    padding: 25px;
    display: flex;
  }
  
  .user-info-avatar-content {
    margin-right: 45px;
  }
  
  .user-info-avatar {
    width: 280px;
    height: 280px;
    display: block;
    margin-bottom: 20px;
  }
  
  .user-info-details {
    width: 100%;
  }
  
  .user-info-item {
    border: 1px solid #D9D9D9;
    border-radius: 6px;
  }
  
  .user-info-content {
    height: 230px;
    background: #FFF;
    margin-top: 15px;
    padding: 10px 15px 15px 15px;
  }
  
  .user-info-title {
    color: #1890FF;
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .user-info-details-item {
    height: 20px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #737373;
  }
  
  .user-info-details-item strong {
    margin-right: 5px;
  }
  
  .badge-item {
    background: #FFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 15px;
    color: #595959;
    font-size: 12px;
    line-height: 20px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
  }