.btn-icon {
    height: 40px;
    width: 101px;
    border-radius: 4px;
    background: #1890FF;
    display:flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color:#FFF;
    font-style: normal;
    font-weight: normal;    
}
.btn-icon-content{
    width: 70px;
    background-color: #33569b;
    border-radius: 0 10px 10px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
}