@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.home-container{
    margin-top: 180px;
    align-items: center;
    letter-spacing: 0.02em;
    margin-left: 120px;
    margin-bottom: 265px;
}
.home-title{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #062847;
    margin-bottom: 25px;    
}
.home-text{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-bottom: 48px;    
}
.home-btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    height: 40px;
    width: 101px;
   
}